.logo {
    font-family: $font-primary;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
  }
  .logo-web {
    color: $nav-color;
  }
  .footer-logo {
    font-size: 22px;
    line-height: 26px;
    color:  $footer-color;
  }