/*Кольори*/
    $nav-color: #2196f3;
    $footer-color: #ffffff;
    $grey-color: #757575;
    $black-icon-color: #212121;
    $border-color: #ececec;
    $hover-buttom-color: #188CE8;
    $grey-light: #afb1b8;


/*шрифти*/
    $font-primary:'Raleway', sans-serif;


/* */
    $timing-transform: 250ms;
    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);